* {
        font-family: 'Roboto Mono';
}
html, body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Roboto Mono';
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #ffffff;
	margin: 0;
	overflow: hidden;
	font-family: arial;
}

#blocker {

	position: absolute;

	width: 100%;
	height: 100%;
    background: url("../imgs/background.jpg") no-repeat center center ;
    background-size: cover;
	background-color: rgba(0,0,0);

}

#instructions {

	width: 100%;
	height: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	color: #ffffff;
	text-align: center;

	cursor: pointer;

}

.timertext {
    font-size: 30px;
    margin-left: 20px;
    display: inline-block;
    color: white;
    z-index: 10000;

}

#timer {
    position: absolute;
    bottom:5px;
    left:0px;
    width:100%;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the loading screen appears on top of other content */
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey border */
    border-top: 8px solid #3498db; /* Blue border for animation */
    border-radius: 50%; /* Rounded border */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-screen p {
    color: #fff; /* White text */
    font-size: 24px;
    margin-top: 20px;
}


#game-over {
    position: fixed;
    top:50%;
    width: 100%;
    height: 100%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: none; /* Inicialmente oculto */
    z-index: 9999; /* Para garantir que esteja na parte superior */
    
}
#game-over p {
    font-family: 'MyFont', cursive; /* This applies Creepster to the text in your game-over paragraph */
    font-size: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#game-won {
    position: fixed;       /* Use fixed positioning */
    top: 50%;              /* Center vertically */
    left: 50%; 
    height:100%;            /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to exact center */
    width: 100%;           /* Take full width to center text properly */
    text-align: center;    /* Ensure text is centered */
    display: none;         /* Start with element hidden */
    z-index: 1000;         /* Make sure it's above other content */
    color: white;          /* Optional: Change text color */
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    padding: 20px;         /* Padding for aesthetic spacing */
    box-sizing: border-box; /* Handle box-sizing while using padding */
    font-size: 24px;       /* Optional: Adjust font size */
}

#game-won p {
    top: 20%;
    font-family: 'MyFont2', cursive; /* This applies Creepster to the text in your game-won heading */
    font-size: 40px;       /* Optional: Adjust font size */
}



@font-face {
    font-family: 'MyFont'; /* A name to use later when referencing the font */
    src: url('../fonts/Un.ttf') format('truetype'); /* Path to the font file and format */
    font-weight: normal; /* You can define different weights if multiple files are provided */
    font-style: normal; /* Same as above, for style */
}
@font-face {
    font-family: 'MyFont2'; /* A name to use later when referencing the font */
    src: url('../fonts/Un2.ttf') format('truetype'); /* Path to the font file and format */
    font-weight: normal; /* You can define different weights if multiple files are provided */
    font-style: normal; /* Same as above, for style */
}
@font-face {
    font-family: 'Win'; /* A name to use later when referencing the font */
    src: url('../fonts/win.ttf') format('truetype'); /* Path to the font file and format */
    font-weight: normal; /* You can define different weights if multiple files are provided */
    font-style: normal; /* Same as above, for style */
}

